main[data-status="waiting"],
main[data-status="over"] {
  .message {
    display: block;
  }
}

main[data-status="started"] {
  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    &[data-done="true"] {
      opacity: 0.4;
      pointer-events: none;
    }

    .loader {
      width: 100%;
      grid-column: 1 / 3;
      text-align: center;
      color: var(--color1);
      font-size: 200%;
    }
  }
}

button[data-clicked="true"] {
  background-color: var(--color2);
}
