.players {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;

  >div {
    display: flex;
    gap: 0.5rem;
    cursor: crosshair;
  }

  b.nr {
    opacity: 0.6;
  }

  b.pti {
    color: var(--color2);
  }
}

.question {
  font-size: 200%;
}

.timer {
  font-size: 200%;
  color: var(--color1);
}

.responses {
  width: 80vw;
  font-size: 150%;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  >div {
    display: flex;
    gap: 1rem;

    b {
      color: var(--color1);
    }
  }
}

main[data-status="waiting"] {
  .players {
    display: grid;
  }

  .actions {
    display: block;
  }
}

main[data-status="started"] {
  .timer {
    display: block;
  }

  .question {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-wrap: balance;
    opacity: 0;
    scale: 0;

    &[data-ok="true"] {
      opacity: 1;
      scale: 1;
    }
  }

  .info {
    display: block;
    opacity: 0;
    scale: 0;

    &:not(:empty) {
      opacity: 1;
      scale: 1;
    }
    
    > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      div:nth-child(2n+1) {
        color: var(--color1);

        b {
          color: var(--color2);
        }
      }

      div:nth-child(2n) {
        color: var(--color2);

        b {
          color: var(--color1);
        }
      }
    }

  }

  .score {
    display: block;
    color: var(--color1);
  }

  .image {
    display: block;
    flex: 1;
    opacity: 0;
    scale: 0;

    &[data-ok="true"] {
      opacity: 1;
      scale: 1;
    }

    img {
      max-height: 30vh;
      object-fit: contain;
    }
  }

  .responses {
    display: grid;
    opacity: 0;
    scale: 0;

    &[data-ok="true"] {
      opacity: 1;
      scale: 1;
    }

    div {
      text-align: left;
      text-wrap: balance;
    }
  }

  .players {
    display: flex;
    flex-wrap: wrap;
    font-size: 50%;
    row-gap: 0;
    column-gap: 0.5rem;

    &>div {
      gap: 0.1rem;
    }
  }
}

main[data-status="over"] {
  .players {
    display: grid;

    >div {
      b {
        transition: all 5s ease-in;

        &:nth-child(3) {
          cursor: pointer;
          filter: blur(30px) grayscale(100%);
        }
      }

      &.show {
        b {
          filter: blur(0px) grayscale(0%);
        }
      }

      .online {
        display: none;
      }
    }
  }
}